/* Global [Start] */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

body::-webkit-scrollbar {
  background-color: #f6f6f6;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

:root {
  --orange: #ff7d1a;
  --pale-orange: #ffede0;

  --very-dark-blue: #1d2025;
  --dark-grayish-blue: #68707d;
  --grayish-blue: #b6bcc8;
  --light-grayish-blue: #f7f8fd;
  --white: #ffffff; 
}

p {
  font-size: 16px;
}

h1 {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

/* Global [End] */




/* Header [Start] */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #cfcfcf;
  position: relative;
}

header .logo {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .logo:hover {
  opacity: 0.7;
}

@media (max-width: 992px) {
  header {
    padding: 20px;
  }
}

header .links-section {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 28px;
  padding-bottom: 28px;
}

@media (max-width: 992px) {
  header .links-section {
    padding: 0;
    margin-left: 40px;
  }
}

header .links-section .mobile-menu-container .mobile-menu {
  display: none;
}

header .links-section .mobile-menu-container nav {
  position: absolute;
  background-color: var(--white);
  z-index: 2000;
  left: -400px;
  top: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

header .links-section .mobile-menu-container i {
  font-size: 30px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .links-section .mobile-menu-container i:hover {
  color: var(--orange);
}

header .links-section .mobile-menu-container nav ul {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 992px) {
  header .links-section .mobile-menu-container nav.active {
    left: 0;
    top: 0;
    color: var(--very-dark-blue) !important;
  }
}

header .links-section .mobile-menu-container nav ul li {
  list-style: none;
  padding: 6px 0;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

header .links-section .mobile-menu-container nav ul li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: 16px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

header .links-section .mobile-menu-container nav ul li:hover a {
  color: var(--orange);
}

@media (max-width: 992px) {
  header .links-section .mobile-menu-container .mobile-menu {
    display: block;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 29px;
  }
}

header .links-section .logo {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
}

header .links-section .logo a {
  color: var(--very-dark-blue);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

header .links-section>nav ul {
  display: flex;
  gap: 30px;
  margin-top: 4px;
}

@media (max-width: 992px) {
  header .links-section>nav ul {
    display: none;
  }
}

header .links-section>nav ul li {
  list-style: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}

header .links-section>nav ul li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--orange);
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .links-section>nav ul li:hover::before {
  opacity: 1;
  bottom: -35px;
}

header .links-section>nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: var(--dark-grayish-blue);
}

header .links-section>nav ul li:hover a {
  color: #000;
}

header .user-options {
  display: flex;
  align-items: center;
  gap: 40px;
  user-select: none;
}

header .user-options i {
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: var(--dark-grayish-blue);
  position: relative;
}

header .user-options i .number-of-products {
  position: absolute;
  left: calc(50% - 2px);
  top: -8px;
  background-color: var(--orange);
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 0 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

header .user-options i:hover {
  color: #000;
}

header .carts-menu {
  position: absolute;
  right: 0;
  top: 73px;
  box-shadow: 1px 17px 25px -4px rgb(0 0 0 / 30%);
  width: 320px;
  height: 318px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  user-select: text;
  cursor: auto;
  display: none;
  z-index: 500;
}

@media (max-width: 992px) {
  header .carts-menu {
    right: 40px;
  }
}

@media (max-width: 450px) {
  header .carts-menu {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

header .carts-menu.open {
  display: flex;
}

header .carts-menu span:not(.price) {
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

header .carts-menu hr {
  border: solid 1px #f1f0f0;
}

header .carts-menu .carts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

header .carts::-webkit-scrollbar {
  background-color: #f6f6f6;
  width: 10px;
}

header .carts::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

header .carts-menu .carts .empty {
  display: block;
  color: var(--dark-grayish-blue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .carts-menu .carts .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

header .carts-menu .carts .product img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .carts-menu .carts .product-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header .carts-menu .carts .product-content p {
  font-size: 14px;
  color: #a7a7a7;
}

header .carts-menu .carts .product-content .price {
  font-size: 14px;
  font-weight: 500;
  color: #a7a7a7;
}

header .carts-menu .carts .product-content .price b {
  color: #000;
  margin-left: 4px;
}

header .carts-menu .carts .product i {
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .carts-menu .carts .product i:hover {
  color: var(--very-dark-blue);
}

header .carts-menu .checkout-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: #fff;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}

header .carts-menu .checkout-button.clicked {
  transform: scale(0.990);
  -webkit-transform: scale(0.990);
  -moz-transform: scale(0.990);
  -ms-transform: scale(0.990);
  -o-transform: scale(0.990);
}

header .carts-menu .checkout-button::before {
  content: '';
  position: absolute;
  left: -20px;
  top: -20px;
  background-color: #f1f0f0;
  width: calc(100% + 40px);
  height: 2px;
}

header .carts-menu .checkout-button:hover {
  opacity: .5;
}

header .user-options .img {
  outline: solid 2px rgba(255, 125, 26, 0.60);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
  height: 40px;
  outline-width: 0;
}

header .user-options .img:hover {
  outline-width: 2px;
}

header .user-options .img img {
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
}

/* Header [End] */





/* Slider [Start] */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 40px;
  gap: 100px;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  main {
    padding: 0 10px;
    margin-top: 0;
  }
}

main .slider {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .slider .show-img-holder {
  width: 400px;
  height: 400px;
  min-height: 400px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (max-width: 450px) {
  main .slider .show-img-holder {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 376px) {
  main .slider .show-img-holder {
    margin-bottom: 0;
    height: 100%;
  }
}

main .slider .show-img-holder:hover {
  opacity: .8;
}

main .slider .show-img-holder img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 450px) {
  main .slider .show-img-holder img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 100%;
  }
}

@media (max-width: 376px) {
  main .slider .show-img-holder img {
    height: 100%;
    min-height: 350px;
  }
}

main .slider .images ul {
  user-select: none;
  display: flex;
  gap: 30px;
}

@media (max-width: 450px) {
  main .slider .images ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

main .slider .images ul li {
  list-style: none;
  cursor: pointer;
  width: 78px;
  height: 78px;
}

main .slider .images ul li.active {
  outline: solid 2px var(--orange);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

main .slider .images ul li:first-child.active {
  outline-color: var(--orange);
}

main .slider .images ul li:nth-child(2).active {
  outline-color: #ff1414;
}

main .slider .images ul li:nth-child(3).active {
  outline-color: #107cff;
}

main .slider .images ul li:nth-child(4).active {
  outline-color: var(--orange);
}

main .slider .images ul li img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

main .slider .images ul li img:hover {
  opacity: .5;
}

main .slider .images ul li.active img {
  opacity: .5;
}

/* Slider [End] */





/* Add to Cart Section [Start] */
main .request-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  main .request-products {
    align-items: center;
  }
}

@media (max-width: 450px) {
  main .request-products {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    gap: 40px;
  }
}

main .request-products .name-company {
  color: var(--orange);
  font-size: 15px;
  font-weight: 600;
}

main .request-products h2 {
  font-weight: bold;
  font-size: 38px;
  color: var(--very-dark-blue);
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  main .request-products h2 {
    font-size: 26px;
  }
}

main .request-products .text {
  color: var(--dark-grayish-blue);
  font-size: 15px;
}

main .request-products .price-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 450px) {
  main .request-products .price-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

main .request-products .price-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .request-products .price-container div .price {
  font-size: 24px;
}

main .request-products .price-container div .discount {
  color: var(--orange);
  background-color: var(--pale-orange);
  font-weight: bold;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

main .request-products .price-container .old-price {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  font-size: 14px;
}

main .request-products .add-to-cart-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 450px) {
  main .request-products .add-to-cart-content {
    flex-wrap: wrap;
  }
}

main .request-products .add-to-cart-content .counter {
  background-color: var(--light-grayish-blue);
  display: flex;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  align-items: center;
  user-select: none;
}

@media (max-width: 450px) {
  main .request-products .add-to-cart-content .counter {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

main .add-to-cart-content .counter button {
  background-color: transparent;
  color: var(--orange);
  font-weight: bolder;
  font-size: 20px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

main .add-to-cart-content .counter button:hover {
  opacity: .5;
}

main .add-to-cart-content .counter button:last-child::before {
  content: '-';
  position: absolute;
  left: calc(50% + 4px);
  top: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

main .add-to-cart-content .counter .the-number {
  font-weight: bold;
  font-size: 14px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}

main .request-products .add-to-cart-content .add-to-cart {
  background-color: var(--orange);
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (max-width: 1200px) {
  main .request-products .add-to-cart-content .add-to-cart {
    width: 250px;
  }
}

@media (max-width: 450px) {
  main .request-products .add-to-cart-content .add-to-cart {
    width: 100%;
    padding: 20px;
  }
}

main .request-products .add-to-cart-content .add-to-cart:hover {
  opacity: .5;
}

main .request-products .add-to-cart-content .add-to-cart.clicked {
  transform: scale(0.990);
  -webkit-transform: scale(0.990);
  -moz-transform: scale(0.990);
  -ms-transform: scale(0.990);
  -o-transform: scale(0.990);
}

main .request-products .add-to-cart-content .add-to-cart i {
  font-size: 16px;
  margin-right: 10px;
}

/* Add to Cart Section [End] */






/* Slider overlay [Start] */
.slider-overlay,
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

@media (max-width: 555px) {
  .slider-overlay {
    padding-top: 36px;
  }
}

@media (max-width: 500px) {
  .slider-overlay {
    justify-content: flex-start;
    padding-top: 40px;
  }
}

.slider-overlay i {
  color: var(--white);
  font-weight: bold;
  font-size: 36px;
  user-select: none;
  cursor: pointer;
  margin-left: 400px;
}

@media (max-width: 490px) {
  .slider-overlay i {
    margin-left: 80%;
    margin-bottom: 20px;
  }
}

.slider-overlay i:hover {
  color: var(--orange);
}

.slider-overlay .show-frame {
  display: flex;
  align-items: center;
  user-select: none;
}

.slider-overlay .show-frame button {
  background-color: var(--white);
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 555px) {
  .slider-overlay .show-frame button {
    display: none;
  }
}

.slider-overlay .show-frame button i {
  color: var(--very-dark-blue);
  font-size: 18px;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.slider-overlay .show-frame .prev:hover i {
  --color: var(--orange);
  color: var(--color);
  text-shadow: 1px 0 0 var(--color), -1px 0 0 var(--color);
}

.slider-overlay .show-frame .next:hover i {
  --color: #538ed6;
  color: var(--color);
  text-shadow: 1px 0 0 var(--color), -1px 0 0 var(--color);
}

.slider-overlay .show-frame .prev {
  position: relative;
  left: 24px;
}

.slider-overlay .show-frame .prev i {
  margin-left: -4px;
}

.slider-overlay .show-frame .next {
  position: relative;
  right: 24px;
}

.slider-overlay .show-frame .next i {
  margin-left: 4px;
}

.slider-overlay .show-frame .img {
  width: 440px;
  height: 440px;
  user-select: none;
}

@media (max-width: 555px) {
  .slider-overlay .show-frame .img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.slider-overlay .show-frame .img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 475px) {
  .slider-overlay .show-frame .img {
    max-height: 340px;
    height: 340px;
    width: 100vw;
  }
}

@media (max-width: 475px) {
  .slider-overlay .show-frame .img img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

.slider-overlay .images {
  display: flex;
  gap: 20px;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-overlay .images .img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 24px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 430px) {
  .slider-overlay .images {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 0px;
    justify-content: center;
  }
}

.slider-overlay .images .img.active {
  outline: solid 3px;
  background-color: rgba(255, 255, 255, 0.644);
}

.slider-overlay .images .img:first-child.active {
  outline-color: var(--orange);
}

.slider-overlay .images .img:nth-child(2).active {
  outline-color: #ff1414;
}

.slider-overlay .images .img:nth-child(3).active {
  outline-color: #107cff;
}

.slider-overlay .images .img:nth-child(4).active {
  outline-color: var(--orange);
}

.slider-overlay .images .img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider-overlay .images .img.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.415);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

/* Slider overlay [End] */






/* Footer [Start] */

footer {
  border-top: solid 1px #cfcfcf;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 530px) {
  footer {
    padding: 20px
  }
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 540px) {
  footer p {
    gap: 10px;
  }
}

footer p span {
  display: block;
  width: fit-content;
  margin: 0;
}

footer p span:last-child {
  margin-left: 200px;
}

@media (max-width: 768px) {
  footer p span:last-child {
    margin-left: 50px;
  }
}

@media (max-width: 530px) {
  footer p span:last-child {
    margin-left: 0;
  }
}

footer p span a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

footer p span a:hover {
  color: #c8c8c8;
}

/* Footer [End] */